table {
    border: 1px solid #399;
    border-spacing: 7px 5px;
    color: black;
}
th{
    background: aquamarine;
    border: 1px solid #333;
    padding: 5px;
}
td{
    border: 1px solid #333;
    padding: 5px;
}

